@model IEnumerable<GestionVehicular.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-secondary">Lista de Vehículos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Vehículo</a>
</p>
<table class="table table-sm table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                Número de Chasis
            </th>
            <th>
                Número de Motor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cilindraje)
            </th>
            <th>
                Capacidad de Carga
            </th>
            <th>
                Capacidad de Pasajeros
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcircuito)
            </th>
            <th>
                Activo
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroChasis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMotor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilometraje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cilindraje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacidadCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacidadPasajero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subcircuito.CodSubcircuito)
                </td>
                <td>
                    @{
                        var activo = item.EsActivo ? "Si" : "No";
                    }
                    @activo
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehiculoId" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.VehiculoId" class="btn btn-secondary">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.VehiculoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
