@model IEnumerable<GestionVehicular.Models.Repuesto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-secondary">Reportes de Mantenimiento</h1>
<hr />
@using (Html.BeginForm("Index", "Reporte", FormMethod.Get, new { id = "reportForm" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                Fecha inicio: @Html.TextBox("fechaInicio", null, new { @class = "form-control", type = "date", id = "fechaInicio" })
            </div>
            <div class="col-4">
                Fecha fin: @Html.TextBox("fechaFin", null, new { @class = "form-control", type = "date",  id = "fechaFin" })
            </div>
            <div class="col-2" style="display: none">
                <br>
                <input type="submit" value="Filtrar" class="btn btn-success" />
            </div>
            <div class="col-2">
                <br>
                @Html.ActionLink("Exportar Reporte", "ExportarExcel", null, null, new { @class = "btn btn-primary", id = "exportarExcel" })
            </div>
        </div>
    </div>
}
<hr />
<table class="table table-sm">
    <thead class="table-primary">
        <tr>
            <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.Kilometraje)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.TipoMantenimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                    <th>
                        Activo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mantenimiento.FechaCreacion)
                    </th>
                    <th>
                        Estado de Solicitud
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Kilometraje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Usuario.Nombre) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Vehiculo.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.TipoMantenimiento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.EsActivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mantenimiento.Aprobacion.Estado)
                        </td>
            </tr>        

        }
<html>
    <table>
        <thead>
            <tr>
                <th>Costo Total:</th>
                @* <th>Precio</th *@
            </tr>
        </thead>
        @* <tbody>
            @* @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.Nombre</td>
                    <td>@producto.Cost</td>
                </tr>
            }  
        </tbody> *@
    </table>

    @if ( Model.Sum(p => p.Cost) > 0)
    {
        var sumaPrecios = Model.Sum(p => p.Cost);
        <p>El costo total por mantenimiento es: @sumaPrecios</p>
    }
    else
    {
        <p>No exite valores a sumar.</p>
    }
    </tbody>
</table>





@* @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Funci칩n para exportar a Excel
        $(document).ready(function () {
            $('#exportarExcel').click(function (event) {
                event.preventDefault();  // Detener la acci칩n predeterminada del enlace
                var url = $(this).attr('href');  // Obtener la URL original del enlace
                var fechaInicio = $('#fechaInicio').val();
                var fechaFin = $('#fechaFin').val();
                // Agregar las fechas a la URL como par치metros de consulta
                url += '?fechaInicio=' + fechaInicio + '&fechaFin=' + fechaFin;
                window.location.href = url;  // Redireccionar al usuario a la nueva URL
            });
        });
        // Funci칩n para enviar el formulario cuando se cambie la fecha
        $(document).ready(function () {
            $('#fechaInicio, #fechaFin').change(function () {
                $('#reportForm').submit();
            });
        });
    </script>

} *@
