@model IEnumerable<GestionVehicular.Models.Distrito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-danger">Nuevo Distrito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parroquia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parroquia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistritoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistritoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistritoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>