@model IEnumerable<GestionVehicular.Models.Abastecimiento>

@{
    ViewData["Title"] = "Index";
}

<div class="card border-success">
    <div class="card-header">
        <h1 class="text-secondary">Lista de Abastecimientos</h1>
<p>
    <a asp-action="Create" type="button" class="btn btn-success">Nuevo Abastecimiento</a>
</p>
    </div>
    <div class="card-body">
        <table class="table table-sm">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gasolinera)
            </th>
            <th>
                Hora de llegada
            </th>
            <th>
                Hora de Salida
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Combustible)
            </th>
            <th>
                Kilometros de Salida
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gasolinera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>
            <th>
                        Estado de Solicitud
                    </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gasolinera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraLlegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combustible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KilometrosSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre) @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gasolineras.Nombre)
                </td>
                <td>
                            @Html.DisplayFor(modelItem => item.Aprobacion.Estado)
                        </td>
                <td>
                    @{
                        var activo = item.EsActivo ? "Si" : "No";
                    }
                    @activo
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AbastecimientoId" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AbastecimientoId" class="btn btn-secondary">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.AbastecimientoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>
</div>


