@model GestionVehicular.Models.Aprobaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aprobaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mantenimiento.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParteNovedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParteNovedad.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abastecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abastecimiento.Gasolinera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movilizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movilizacion.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AprobacionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
