@model IEnumerable<GestionVehicular.Models.Mantenimiento>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-secondary">Lista de Mantenimientos</h1>
<hr />
@using (Html.BeginForm("Index", "Mantenimientos", FormMethod.Get, new { id = "reportForm" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                Fecha inicio: @Html.TextBox("fechaInicio", null, new { @class = "form-control", type = "date", id = "fechaInicio" })
            </div>
            <div class="col-4">
                Fecha fin: @Html.TextBox("fechaFin", null, new { @class = "form-control", type = "date",  id = "fechaFin" })
            </div>
            <div class="col-2" style="display: none">
                <br>
                <input type="submit" value="Filtrar" class="btn btn-success" />
            </div>
            <div class="col-2">
                <br>
                @Html.ActionLink("Exportar Reporte", "ExportarExcel", null, null, new { @class = "btn btn-primary", id = "exportarExcel" })
            </div>
        </div>
    </div>
}
<hr />
        <table class="table table-sm">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kilometraje)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMantenimiento)
                    </th>
                    <th>
                        Activo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    <th>
                        Estado de Solicitud
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kilometraje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nombre) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMantenimiento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EsActivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aprobacion.Estado)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MantenimientoId" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.MantenimientoId"
                                class="btn btn-secondary">Details</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.MantenimientoId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Función para exportar a Excel
        $(document).ready(function () {
            $('#exportarExcel').click(function (event) {
                event.preventDefault();  // Detener la acción predeterminada del enlace
                var url = $(this).attr('href');  // Obtener la URL original del enlace
                var fechaInicio = $('#fechaInicio').val();
                var fechaFin = $('#fechaFin').val();
                // Agregar las fechas a la URL como parámetros de consulta
                url += '?fechaInicio=' + fechaInicio + '&fechaFin=' + fechaFin;
                window.location.href = url;  // Redireccionar al usuario a la nueva URL
            });
        });
        // Función para enviar el formulario cuando se cambie la fecha
        $(document).ready(function () {
            $('#fechaInicio, #fechaFin').change(function () {
                $('#reportForm').submit();
            });
        });
    </script>
        }