@model IEnumerable<GestionVehicular.Models.Mantenimiento>

@{
    ViewData["Title"] = "Index";
}
<br>
<div class="card border-success">
    <div class="card-header">
        <h1 class="text-secondary">Lista de Mantenimientos</h1>
        <p>
            <a asp-action="Create" type="button" class="btn btn-success">Nuevo Mantenimiento</a>
        </p>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kilometraje)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMantenimiento)
                    </th>
                    <th>
                        Activo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    <th>
                        Estado de Solicitud
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kilometraje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nombre) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMantenimiento.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EsActivo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aprobacion.Estado)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MantenimientoId" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.MantenimientoId"
                                class="btn btn-secondary">Details</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.MantenimientoId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>