@model GestionVehicular.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-secondary">Detalle</h1>

<div>
    <h4 class="text-success">Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            Fecha de Nacimiento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            Tipo de Sangre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            Cuidad de Nacimiento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CiudadNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rango)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rango)
        </dd>
        <dt class="col-sm-2">
            Activo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subcircuito)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subcircuito.CodSubcircuito)
        </dd>
        <dt class="col-sm-2">
            Fecha de Creación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
