@model IEnumerable<GestionVehicular.Models.Subcircuito>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-secondary">Lista de Distritos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Distrito</a>
</p>
<table class="table table-sm table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoSubcircuito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodSubcircuito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Circuito)
            </th>
            <th>
                Activo
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoSubcircuito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodSubcircuito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Circuito.CodCircuito)
                </td>
                <td>
                    @{
                        var activo = item.EsActivo ? "Si" : "No";
                    }
                    @activo
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubcircuitoId" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SubcircuitoId" class="btn btn-secondary">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.SubcircuitoId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
