@model GestionVehicular.Models.Movilizacion

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-secondary">Delete</h1>

<h3>¿Está seguro de quere eliminar éste registro?</h3>
<div>
    <h4 class="text-success">Movilización</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Hora de Salida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class="col-sm-2">
            Hora de Llegada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>
        <dt class="col-sm-2">
            Kilómetros de Salida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KilometrosSalida)
        </dd>
        <dt class="col-sm-2">
            Kilómetros de Llegada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KilometrajeLlegada)
        </dd>
        <dt class="col-sm-2">
            Observación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre) @Html.DisplayFor(model => model.Usuario.Apellido)
        </dd>
        <dt class="col-sm-2">
            Vehículo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.Placa)
        </dd>
        <dt class="col-sm-2">
            Activo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsActivo)
        </dd>
        <dt class="col-sm-2">
            Fecha de Creación
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ruta)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroOcupante)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatoOcupante)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MovilizacionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
