@model IEnumerable<GestionVehicular.Models.Movilizacion>

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="card border-success">
    <div class="card-header">
        <h1 class="text-secondary">Lista de Movilizaciones</h1>
        <p>
            <a asp-action="Create" type="button" class="btn btn-success">Nuevo Movilización</a>
        </p>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        Hora de Salida
                    </th>
                    <th>
                        Hora de Llegada
                    </th>
                    <th>
                        Kilómetros de Salida
                    </th>
                    <th>
                        Kilómetros de Llegada
                    </th>
                    <th>
                        Motivo
                    </th>
                    <th>
                        Ruta
                    </th>
                    <th>
                        NumeroOcupante
                    </th>
                    <th>
                        DatoOcupante
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        Vehículo
                    </th>
                    <th>
                        Activo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    <th>
                        Estado de Solicitud
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraLlegada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KilometrosSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KilometrajeLlegada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ruta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroOcupante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatoOcupante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nombre) @Html.DisplayFor(modelItem =>
                        item.Usuario.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Placa) @Html.DisplayFor(modelItem =>
                        item.Vehiculo.Marca)
                        </td>
                        <td>
                            @{
                                var activo = item.EsActivo ? "Si" : "No";
                            }
                            @activo
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aprobacion.Estado)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MovilizacionId" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.MovilizacionId"
                                class="btn btn-secondary">Details</a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.MovilizacionId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
